.cointainer1{
    background-color: aqua;
    font-style: italic;
    padding: 70px;
    display: flex;
    flex-direction:column-reverse;
    gap: 25px;
}
.cointainer2{
background-color: chartreuse;
font-style: oblique;
}
.hero{
  text-align: center;
  
}