



  
h1{
  color: aqua;
  background-color: black;
  background: local;
  text-transform: capitalize;
}

  .main {
    font-weight: bold;
    font-style: italic;
    text-decoration: wavy;
  }
  #last {
    color: royalblue;
    text-transform: uppercase;
    font-weight: normal;
    font-style: inherit;
  }
 
  
    .cointainer1{
      background-color: chartreuse;
    
    

    }
  .cointainer2{
background-color: aqua;
border: 4px;
margin: 10px;
padding: 20px;
border-style: dotted;

  }
  .cointainer3 {
    background-color: chocolate;
    border: 10px;
    text-align: center;
  }
  
    
.imagecontainer {
  background-color:blueviolet;
  text-align: center;padding: 100px;
background-image: url(background\ image\ 1.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
  





}